{% extends "layout/layout.twig" %}
{% block main_content %}
{{parent()}}
<div class="container form-style-5">
  <h1 class="h1">Authentification</h1><br>
    <img id="logoLogin" src="{{ asset('img/logo.png') }}"
         class="mr-auto img-responsive" width="200"/>
    {% if error %}
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Erreur:</span>
          {%  if error.message == "Bad credentials." %}
            Login ou mot de passe incorrect
          {% else %}
              {{ error.messageKey|trans(error.messageData, 'security') }}
          {% endif %}

      </div>
    {% endif %}

  <form action="{{ path('login') }}" method="post">
    <div class="form-group">
      <label for="username">Login (Username)</label>
      <input type="username" class="form-control" id="username" name="_username"  value="{{ last_username }}">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" name="_password">
    </div>
    <input class="btn btn-primary" type="submit"></input>
  </form>
{% endblock %}
