{% extends "layout/layout.twig" %}

{% block main_content %}
    {{parent()}}
    <div class="container form-style-5">
    <p class="h1">Inscription</p><br>
    {{ form_start(form) }}
      <div class="form-group">
          {{ form_label(form.username) }}
          {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="form-group">
          {{ form_label(form.email) }}
          {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="form-group">
          {{ form_label(form.plainPassword.first, "Mot de passe") }}
          {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="form-group">
          {{ form_label(form.plainPassword.second, "Répetez le mot de passe") }}
          {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
      </div>
      <input type="submit" class="btn btn-primary"></input>
    {{ form_end(form) }}
  </div>
{% endblock %}
