{% extends "layout/layoutGestion.twig" %}

{% block partCreation %}
    {{ form_start(form) }}
    <div class="form-group"><br>
        {{ form_label(form.name, "Nom") }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group"><br>
        {{ form_label(form.contact, "Contact") }}
        {{ form_widget(form.contact, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button type="submit" class="btn btn-success" value="Creerclient">
        Créer client
    </button>
    {{ form_end(form) }}
{% endblock %}

{% block partGestion %}
    <!-- Table --><br><br>
    <table class="table table-hover text-center">
        <thead>
        <tr>
            <td>Nom du client</td>
            <td>Contact</td>
            <td>Éditer</td>
            <td>Supprimer</td>
        </tr>
        </thead>
        <tbody>
        {%  for customer in customersList %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.contact }}</td>
                <td><a href="{{ path('Clients_edit', {id : customer.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a href="{{ path('Clients_delete', {id : customer.id }) }}"><span class="glyphicon glyphicon-remove"></span></a><td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}