{% extends 'layout/layout.twig' %}
{% block main_content %}
    <div class="container form-style-5">
        <h1>Édition d'un client</h1>
        {{ form_start(form) }}
        <div class="form-group"><br>
            {{ form_label(form.name, "Nom") }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group"><br>
            {{ form_label(form.projects, "Projets (touche ctrl enfoncé pour sélectionné plusieurs)") }}
            {{ form_widget(form.projects, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group"><br>
            {{ form_label(form.contact, "Contact" ) }}
            {{ form_widget(form.contact, {'attr': {'class': 'form-control'}}) }}
        </div>
        <input type="submit"  value="Mettre à jour">
        </input>
        {{ form_end(form) }}
    </div>
{% endblock %}
