<div class="media">
    <div class="media-left">
        <img src="{{ asset('img/tag.png') }}" alt="Ticket update"
             class="media-object" style="width: 35px; height: 35px;">
    </div>
    <div class="media-body">
        <p>
            Priorité {{ (update.from > update.to) ? 'diminuée' : 'montée' }}
            à {% include 'util/label-priority.html.twig' with {'priority': update.to} %}
            <br>
            <small class="text-muted">
                {{ update.author.username }}
                - {{ update.createdAt | relative_date }}
                <small>
                    ({{ update.createdAt | date('d/m/Y H:i:s') }})
                </small>
            </small>
        </p>
    </div>
</div>