<div class="media well well-sm">
    <div class="media-left">
        <img src="{{ gravatar_url(update.author.email, {'size': 40}) }}"
             alt="{{ update.author.username }}"
             class="media-object img-thumbnail">
    </div>
    <div class="media-body">
        <p>
            {{ update.message }}
        </p>
        <small class="text-muted">
            {{ update.author.username }}
            - {{ update.createdAt | relative_date }}
            <small>
                ({{ update.createdAt | date('d/m/Y H:i:s') }}
                )
            </small>
        </small>
    </div>
</div>