{% extends 'layout/layout.twig' %}

{% block main_content %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    #{{ ticket.id }} : {{ ticket.name }}
                </h1>
                <p class="lead">
                    {% include 'util/label-state.html.twig' %}
                    {% include 'util/label-priority.html.twig' %}
                    -
                    Ouvert {{ ticket.createdAt | relative_date }}
                    <small>({{ ticket.createdAt | date('d/m/Y H:i:s') }})
                    </small>
                    {% if ticket.createdAt != ticket.updatedAt %}
                        , mis à jour {{ ticket.updatedAt | relative_date }}
                        <small>({{ ticket.updatedAt | date('d/m/Y H:i:s') }})
                        </small>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% for update in ticket.ticketUpdates %}
                    {% include 'ticket/updates/' ~ update.updateType ~ '.html.twig' %}
                {% else %}
                    <div class="alert alert-warning">
                        <strong>Oops!</strong>
                        Aucune mise à jour sur le ticket.
                    </div>
                {% endfor %}

                {% if ticket.ticketUpdates | length > 0 %}
                    <hr>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Poster une mise à jour</h3>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        {% form_theme form.status_update 'bootstrap_3_horizontal_layout.html.twig' %}
                        {{ form(form.status_update) }}
                    </div>

                    <div class="col-sm-12 col-md-6">
                        {% form_theme form.priority_update 'bootstrap_3_horizontal_layout.html.twig' %}
                        {{ form(form.priority_update) }}
                    </div>
                </div>

                {% form_theme form.ticket_update 'bootstrap_3_layout.html.twig' %}
                {{ form(form.ticket_update) }}

                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a href="{{ path('home') }}" class="btn btn-link">
                    &laquo;
                    Retour au
                    dashboard</a>
            </div>
        </div>
    </div>
{% endblock %}