{% extends "layout/layout.twig" %}

{% block main_content %}
    {{ parent() }}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2 form-style-5">
                <h1 class="text-center">Ajouter un ticket</h1>

                {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}