{% if state is not defined %}
    {% set state = ticket.state %}
{% endif %}

{% if     state == constant('App\\Entity\\Ticket::STATE_OPEN') %}
    <span class="label label-warning">Ouvert</span>
{% elseif state == constant('App\\Entity\\Ticket::STATE_IN_WORK') %}
    <span class="label label-primary">En cours</span>
{% elseif state == constant('App\\Entity\\Ticket::STATE_NEEDS_INFO') %}
    <span class="label label-info">Besoin d'informations</span>
{% elseif state == constant('App\\Entity\\Ticket::STATE_CLOSED') %}
    <span class="label label-success">Fermé</span>
{% else %}
    <span class="label label-default">N/A</span>
{% endif %}