{% if priority is not defined %}
    {% set priority = ticket.priority %}
{% endif %}

{% if     priority == constant('App\\Entity\\Ticket::PRIORITY_LOW') %}
    <span class="label label-primary">Faible</span>
{% elseif priority == constant('App\\Entity\\Ticket::PRIORITY_MED') %}
    <span class="label label-warning">Moyenne</span>
{% elseif priority == constant('App\\Entity\\Ticket::PRIORITY_HIGH') %}
    <span class="label label-danger">Haute</span>
{% else %}
    <span class="label label-default">N/A</span>
{% endif %}