{% extends "layout/layout.twig" %}

{% block container_class -%}
    container-fluid
{%- endblock %}

{% block main_content %}
  {{parent()}}
  <div class="jumbotron">
      <a href="{{ path('home') }}"><img src="{{ asset('img/logo.png') }}"
                                        class="img-responsive" width="200"/></a>
      <form class="navbar-form" role="search" action="{{ path('search') }}" method="get">
      <div class="input-group" style="width:100%">
          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" >
          <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
      </div>
      </form>
      <div>
          <div class="pull-right">
              <form id="form-index" action="{{ path('home') }}" method="get"
                    class="form-inline">
                  <div class="form-group">
                      <select name="view" id="view"
                              class="form-control form-control-sm">
                          <option value="not-closed"
                                  {% if view == 'not-closed' %}selected{% endif %}>
                              Tickets non fermés
                          </option>
                          <option value="all"
                                  {% if view == 'all' %}selected{% endif %}>Tous
                              les tickets
                          </option>
                          <option value="closed"
                                  {% if view == 'closed' %}selected{% endif %}>
                              Tickets fermés
                          </option>
                          <option value="high-prio"
                                  {% if view == 'high-prio' %}selected{% endif %}>
                              Tickets urgents non fermés
                          </option>
                      </select>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-default">Afficher vue</button>
                  </div>
              </form>
          </div>
      </div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
          <th scope="col">Nom</th>
        <th scope="col">Projet</th>
          <th scope="col">Client</th>
          <th scope="col">Crée</th>
          <th scope="col">Mis à jour</th>
          <th scope="col">Status</th>
          <th scope="col">Priorité</th>
      </tr>
      </thead>
      <tbody>
      {% for ticket in tickets %}
          <tr>
              <td>
                  <a href="{{ path('showTicket', {'id': ticket.id}) }}">{{ ticket.id }}</a>
              </td>
              <td>
                  {{ ticket.name }}
              </td>
              <td>
                  {% if ticket.project is not null %}
                      {{ ticket.project.name }}
                  {% else %}
                      <i class="text-muted">Non renseigné</i>
                  {% endif %}
              </td>
              <td>
                  {% if ticket.customer is not null %}
                      {{ ticket.customer.name }}
                  {% else %}
                      <i class="text-muted">Non renseigné</i>
                  {% endif %}
              </td>
              <td>
                  {{ ticket.createdAt | relative_date }} -
                  <small>{{ ticket.createdAt | date('d/m/Y H:i:s') }}</small>
              </td>
              <td>
                  {% if ticket.updatedAt is not null %}
                      {{ ticket.updatedAt | relative_date }} -
                      <small>{{ ticket.updatedAt | date('d/m/Y H:i:s') }}</small>
                  {% else %}
                      <i>Non renseigné</i>
                  {% endif %}
              </td>
              <td>
                  {% include 'util/label-state.html.twig' %}
              </td>
              <td>
                  {% include 'util/label-priority.html.twig' %}
              </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
