{% extends 'layout/layout.twig' %}
{% block main_content %}
    <div class="container form-style-5">
        <h1>Édition d'un projet</h1>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name, "Nom") }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description, "Description") }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>

        <input type="submit" class="btn btn-primary">

        {{ form_end(form) }}
    </div>
{% endblock %}
