{% extends "layout/layoutGestion.twig" %}

{% block partCreation %}
    {{ form_start(form) }}
  <div class="form-group"><br>
      {{ form_label(form.name, "Nom") }}
      {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group"><br>
      {{ form_label(form.customers, "Clients (touche ctrl enfoncée pour sélectionné plusieurs)") }}
      {{ form_widget(form.customers, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group"><br>
      {{ form_label(form.description, "Description" ) }}
      {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
  </div>
  <button type="submit" class="btn btn-success" value="Creerprojet">
    Creer projet
  </button>
    {{ form_end(form) }}
{% endblock %}

{% block partGestion %}
  <!-- Table -->
  <table class="table table-hover text-center">
    <thead>
    <tr>
      <td>Nom du projet</td>
      <td>Description</td>
      <td>Éditer</td>
      <td>Supprimer</td>
    </tr>
    </thead>
    {% for project in projects %}
      <tr>
        <td>{{ project.name }}</td>
        <td>{{ project.description }}</td>
        <td>
          <a href="{{ path('Projects_edit', {id : project.id }) }}"><i class="glyphicon glyphicon-pencil"></i></a>
        </td>
        <td>
        <a href="{{ path('Projects_delete', {id : project.id }) }}"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}