{% extends 'layout/layout.twig' %}

{% block main_content %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2">
                <div class="jumbotron text-center">
                    <h1>
                        {{ status_code }} :(
                        <br>
                        <small>{{ status_text }}</small>
                    </h1>
                    <p>
                        {% if status_code == 404 %}
                            La ressource demandée est introuvable.
                        {% elseif status_code == 403 %}
                            L'accès à la ressource demandée a été refusé.
                        {% else %}
                            Une erreur interne a eu lieu.
                        {% endif %}
                    </p>
                    <p>
                        <a href="{{ path('home') }}"
                           class="btn btn-link btn-lg">&laquo; Retour à
                            l'accueil</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}