<!DOCTYPE html>
<html>
<head>
  <title>Pick Ticket</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{asset('build/app.css')}}" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
</head>
<body>
  <br>
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a href="{{ path('home') }}"><img
                          src="{{ asset('img/logo.png') }}"
                          class="img-responsive" width="50"/></a>
          </div>
          <!-- Collection of nav links and other content for toggling -->
          <div id="navbarCollapse" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  {% set route = app.request.attributes.get('_route') %}
                  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                      <li {{  route ==  'User_profile' ? ' class="active"' }}><a href="{{ path('User_profile') }}">Mon profil</a></li>
                  {%  endif  %}
                  {%  if is_granted('ROLE_ADMIN') %}
                      <li{{ route ==  'User_list' ? ' class="active"' }}><a href="{{ path('User_list') }}">Gestion des utilisateurs</a></li>
                      <li{{ route ==  'User_add' ? ' class="active"' }}><a href="{{ path('User_add') }}">Ajout d'un utilisateur</a></li>
                      <li{{ route ==  'gestionProjects' ? ' class="active"' }}><a href="{{ path('gestionProjects') }}">Gestion des projets</a></li>
                      <li{{ route ==  'gestionCustomers' ? ' class="active"' }}><a href="{{ path('gestionCustomers') }}">Gestion des clients</a></li>
                  {% endif %}
                  {% if is_granted('ROLE_RAPPORTEUR') %}
                      <li><a href="{{ path('addTicket') }}">Ajout de ticket</a></li>
                  {% endif %}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                      <li><a href="{{ path('logout') }}"><i
                                      class="glyphicon glyphicon-log-out"></i></a>
                      </li>
                  {%  else  %}
                      <li{{ route ==  'login' ? ' class="active"' }}><a href="{{ path('login') }}">Authentification</a></li>
                      <li{{ route ==  'user_registration' ? ' class="active"' }}><a href="{{ path('user_registration') }}">Inscription</a></li>
                  {% endif %}
              </ul>
          </div>
      </div>
  </nav>
{% block main_content %}
  <div class="{% block container_class %}container{% endblock %}">
      {% if app.session.flashBag.has('warning') %}
          {% for msg in app.session.flashBag.get('warning') %}
              <div class="alert alert-warning">
                  {{ msg }}
              </div>
          {% endfor %}
      {% endif %}
    {% if app.session.flashBag.has('danger') %}
        {% for msg in app.session.flashBag.get('danger') %}
            <div class="alert alert-danger">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    {% if app.session.flashBag.has('success') %}
        {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
              {{ msg }}
            </div>
        {% endfor %}
  {% endif %}
{% endblock %}
    </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{asset('build/app.js')}}"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
