{% extends "layout/layout.twig" %}
{% block main_content %}
  {{ parent() }}

{% if is_granted('ROLE_RAPPORTEUR') %}
<div class="container">
    <h1 class="h1">{{ titre }}</h1>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active nav-item">
            <a id="linkCreer" class="nav-link" data-toggle="tab" href="#creation">Créer</a>
        </li>
        <li class="nav-item">
            <a id="linkGerer" class="nav-link" data-toggle="tab" href="#gerer">Gérer</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="creer">
            {% block partCreation %}
            {% endblock %}
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane container fade" id="gerer">
            {% block partGestion %}
            {% endblock %}
        </div>
    </div>
    {% endif %}
    {% endblock %}
