{% extends "layout/layout.twig" %}

{% block main_content %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2 form-style-5">
                <h1 class="text-center">Ajout d'un utilisateur</h1>

                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.plainPassword, "Mot de passe") }}
                    {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.roles, "Rôle") }}
                    {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
                </div>

                <input type="submit"/>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}