{% extends "layout/layout.twig" %}
{% block main_content %}
    {{parent()}}
        <h1 class="h1">Gestion des utilisateurs</h1>
        <a class="btn btn-primary" href="{{ path('User_add') }}">Ajout d'un utilisateur</a>
        <br><br>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Rôle</th>
                <th scope="col">Actif</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{% for role in user.roles %}{{ role }}{%  endfor %}</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{ user.isActive }}" id="defaultCheck1" {% if user.isActive %} checked {% endif %} onclick="return false;" onkeydown="return false;">
                        </div>
                    </td>
                    <td>
                        <a><span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#modaluser-{{ user.id }}"></span></a>
                        {{  render(controller(
                            'App\\Controller\\UserController::editAction',
                            {'id' : user.id}
                        ))
                        }}
                    </td>
                    <td>
                        <a href="{{ path('User_delete', {id : user.id}) }}"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}