{% extends "layout/layout.twig" %}

{% block main_content %}
    {{parent()}}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2  form-style-5">
                <h1 class="text-center">Édition de votre profil</h1>
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.plainPassword.first, "Mot de passe") }}
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.plainPassword) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.plainPassword.second, "Répetez le mot de passe") }}
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.plainPassword.second) }}
                </div>
                <input type="submit"></input>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}
